*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(185, 75%, 39%);
  font-family: sans-serif;
  overflow: hidden;
}

.bg-img{
  position: fixed;
  width: 700px;
}

.bg-img__top-circle{
  right: 500px;
  bottom: 300px;
}

.bg-img__bottom-circle{
  top: 350px;
  left: 500px;
}

.tarjeta_header{
  display: flex;
  position: relative;
}
/*
  Color de fondo: hsl(185, 75%, 39%)
  Color del texto gris: hsl(227, 10%, 46%)
 */